@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  background: #1e1e1e;
  color: #d6d6d6;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ssn-theme {
  --os-size: 10px !important;
  --os-padding-perpendicular: 2px !important;
  --os-padding-axis: 2px !important;
  --os-track-border-radius: 10px !important;
  --os-handle-interactive-area-offset: 4px !important;
  --os-handle-border-radius: 10px !important;

  --os-handle-bg: rgba(255, 255, 255, 0.15) !important;
  --os-handle-bg-hover: rgba(255, 255, 255, 0.2) !important;
  --os-handle-bg-active: rgba(255, 255, 255, 0.25) !important;

  --os-track-bg: none !important;
  --os-track-bg-hover: none !important;
  --os-track-bg-active: none !important;
  --os-track-border: none !important;
  --os-track-border-hover: none !important;
  --os-track-border-active: none !important;

  --os-handle-border: none !important;
  --os-handle-border-hover: none !important;
  --os-handle-border-active: none !important;
  --os-handle-min-size: 33px !important;
  --os-handle-max-size: none !important;
  --os-handle-perpendicular-size: 100% !important;
  --os-handle-perpendicular-size-hover: 100% !important;
  --os-handle-perpendicular-size-active: 100% !important;
}

.title-bg {
  background: rgb(21 21 21);
}

.overflow-gradient-top {
  background: linear-gradient(
    to bottom,
    rgb(21, 21, 21),
    rgb(21 21 21 / 98%),
    rgb(21 21 21 / 94%),
    rgb(21 21 21 / 92%),
    rgb(21 21 21 / 42%),
    rgb(21 21 21 / 0%)
  );
  /* background: rgb(21 21 21 / 94%); */
}
